name: Create Archive

on:
  release:
    types: [published]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      THEME_SLUG: scouting-improvements-child

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        # Set version in style.css
      - name: Sync style.css Version with tag
        run: |
          set -euo pipefail
          VERSION="${GITHUB_REF_NAME#v}"
          FILE="style.css"
          if [ -f "$FILE" ]; then
            sed -i -E "s/^[[:space:]]*\*?[[:space:]]*Version:[[:space:]]*.*/ * Version: ${VERSION}/" "$FILE"
            echo "Updated version to ${VERSION}:"
            grep -n "Version:" "$FILE"
          else
            echo "No $FILE found"
          fi

      - name: Move files into wrapper folder
        shell: bash
        run: |
          set -euo pipefail
          shopt -s dotglob extglob
          mkdir -p "${THEME_SLUG}"
          mv -- !(.git|.github|${THEME_SLUG}) "${THEME_SLUG}/"

      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.5
        with:
          type: "zip"
          path: ${{ env.THEME_SLUG }}
          filename: ${{ env.THEME_SLUG }}-${{ github.ref_name }}.zip
          exclusions: |
            **/.git*
            **/.github*
            **/*.zip

      # Only on PR
      - name: Upload PR build artifact
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.THEME_SLUG }}-${{ github.ref_name }}.zip
          path: ${{ env.THEME_SLUG }}-${{ github.ref_name }}.zip

      # Only on release
      - name: Upload Release Asset
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload "${{ github.ref_name }}" "${{ env.THEME_SLUG }}-${{ github.ref_name }}.zip" --clobber
